# Core Web Framework
fastapi
uvicorn

# Data Validation & Serialization
pydantic

# Database & ORM
alembic
aiosqlite
SQLAlchemy

# Asynchronous Operations
broadcaster

# GraphQL
strawberry-graphql[fastapi]

# Authentication & Security
bcrypt
cryptography
pyjwt

# HTTP Clients
httpx
requests

# Testing
coverage
faker
pytest
pytest-cov
pytest-depends

# Utilities
colorama
distro
inflect
loguru
networkx
numpy
pluralizer
python-dotenv
resolvelib
semver
stringcase
black